body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
}

button,
{
  color: #3E606F;
  text-decoration: none;
}

button:hover,
button:focus {
  color: #91AA9D;
}
