body {
  font-family: $font-stack;
  line-height: 1.5;
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
  text-decoration: underline;

}

h2 {
  color: $primary-color;
}

h1 {
  text-align: center;
  @extend %large-type;
}

h6 {
  text-align: center;
}

form {
  @include default-box;
  background-color: $background-color;
  border-color: $border-color;
}

.row {
    color: $primary-color;
  }

label {
  color:blue;
}

#parcellist {
  margin-left: 180px;
}
button,
input {

}

#cancelbtn {
  margin-left:500px;
}

input {
  margin: 2em auto;
  display: block;
}

#greeting {
  font-size: 80%;
}
