<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Parcel site</title>
  <link rel="stylesheet" href="/styles.min.css" type="text/css">
</head>

<body data-ng-app="ParcelStreamApp">
  <h1>Parcels App!</h1>
  <main data-ng-controller="ParcelsController" data-ng-init="getAll()">
    <ul id="errorslist">
      <li data-ng-repeat="error in errors">{{error}}</li>
    </ul>

    <form class="containers" name="newParcelForm" data-ng-submit="create(newParcel)">
      <h2>New parcel:</h2>

      <label for="newParcelName">Name:</label>
      <input type="text" id="newParcelName" required data-ng-model="newParcel.name">

      <label for="newParcelSize">Parcel size: </label>
      <input type="text" id="newParcelSize" data-ng-model="newParcel.size" placeholder="small/medium/large">

      <label for="newParcelWeight">Parcel weight:</label>
      <input type="text" id="newParcelWeight" data-ng-model="newParcel.weight" placeholder="less than 10 lbs">

      <button type="submit" data-ng-disabled="newParcelForm.$invalid">Create New Parcel</button>
    </form>

    <ul id="parcellist">
      <li data-ng-repeat="parcel in parcels">
        {{parcel.name}}

        <form class="row" name="parcelForm{{parcel._id}}" data-ng-submit="update(parcel)" data-ng-if="parcel.editing">
          <h2>Update {{parcel.name}}</h2>

          <label for="parcelName{{parcel._id}}">Name:</label>
          <input type="text" id="parcelName{{parcel._id}}" required data-ng-model="parcel.name">

          <label for="parcelSize{{parcel._id}}">Size:</label>
          <input type="text" id="parcelSize{{parcel._id}}" data-ng-model="parcel.size" placeholder="small/medium/large">

          <label for="parcelWeight{{parcel._id}}">Weight:</label>
          <input type="text" id="parcelWeight{{parcel._id}}" data-ng-model="parcel.weight" placeholder="less than 10 lbs">

          <button type="submit">Update</button>
          <button data-ng-click="reset(parcel)">Don't update</button>

        </form>

        <button id="update-btn" data-ng-if="!parcel.editing" data-ng-click="startUpdate(parcel)">Update</button>

        <button id="delete-btn" data-ng-if="!parcel.editing" data-ng-click="remove(parcel)">Remove This Parcel!</button>

      </li>
    </ul>
  </main>
  <script src="/bundle.js"></script>

</body>


</html>

